# Configuracion del Servidor
PORT=5000

# Configuracion de Base de Datos MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=culinaria_store
DB_PORT=3306

# Seguridad (Para el Login/Register)
JWT_SECRET=cambiar_por_token_secreto
